dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.log
log
python/__pycache__/
python/runs
game_gaps.md
report.html
warnings.txt
python/runs*
*.npz
*.pt
plans/
ray_results/
*ray_tmp*
*bc_checkpoint/
*bc_data/
